<div class="hero-overlay">
  <div class="backdrop is-hidden" data-backdrop></div>
  <header class="page-header">
    <a href="./">
      <svg width="69" height="55" class="logo">
        <use href="./images/svg/sprite.svg#logo"></use>
      </svg>
    </a>

    <button
      class="drop-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
      data-modal
    >
      <svg
        width="20"
        height="20"
        aria-label="Переключатель мобильного меню"
        class="drop-down-icon"
      >
        <use class="icon-menu" href="./images/svg/sprite.svg#icon-menu"></use>
        <use class="icon-cross" href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="menu-container" id="menu-container" data-menu>
      <div class="header-container">
        <nav class="header-nav">
          <ul class="nav-list">
            <li><a href="#aboutus" class="header-link">О нас</a></li>
            <li class="nav_item">
              <a href="#pricelist" class="header-link">Услуги и цены</a>
            </li>
            <li><a href="#masters" class="header-link">Мастера</a></li>
            <li><a href="#address" class="header-link">Контакты</a></li>
          </ul>
        </nav>

        <ul class="header__conacts-list">
          <li class="header__contacts-item">
            <a href="tel:+380441111111" class="header__contacts-link"
              >+38 044 111 11 11</a
            >
          </li>
          <li>
            <a href="#online-check-in" class="button">
              онлайн-запись
            </a>
          </li>
        </ul>
      </div>

      <div class="soc-container">
        <address class="header-soc">
          <ul class="header-soc__list">
            <li class="header-soc__item--line">
              <a aria-label="Instagram" class="instagram">Instagram</a>
            </li>
            <li class="header-soc__item">
              <a aria-label="Youtube" class="youtube">Youtube</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </header>
  <section class="hero">
    <div class="container--hero">
      <button class="prev-button button-sl">Назад</button>
      <button class="next-button button-sl">Вперед</button>
      <div class="nav-dots">
        <svg class="nav-dot active" data-slide="1">
          <use href="./images/svg/dot-line.svg"></use>
        </svg>
        <svg class="nav-dot" data-slide="2">
          <use href="./images/svg/dot-line.svg"></use>
        </svg>
        <svg class="nav-dot" data-slide="3">
          <use href="./images/svg/dot-line.svg"></use>
        </svg>
      </div>

      <p class="hero-info">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
      <h1 class="hero-title">BarberShop</h1>

      <h2 class="hero-title--second">A hair salon for men in Kyiv</h2>
    </div>
  </section>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="./js/slider-script.js"></script>
