// .footer {
//   display: flex;
//   flex-wrap: wrap;
// }

.footer-section {
  @media screen and (min-width: $desktop) {
    display: flex;

    background-color: $bg-color-footer;
  }
}

.footer-content {
  padding: 84px 31px;
  background-color: $bg-color-footer;

  font-family: $font-family;

  @media screen and (min-width: $tablet) {
    padding: 100px 39px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 50%;
    padding: 130px 40px 130px 55px;
  }
}

.title-footer {
  margin-top: 0;
  margin-bottom: 44px;
  // white-space: nowrap;
  max-width: 418px;
  height: 49px;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
  color: $bg-color;
}

.form {
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.item-form {
  position: relative;
  margin-bottom: 44px;
  height: 24px;
  // width: 418px;

  &:last-child {
    height: 76px;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    .form-field {
      color: $bg-color;
    }
  }
}

.item-form {
  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      // display: flex;
      // flex-wrap: wrap;
      min-width: 330px;
    }

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      width: 100%;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      // display: flex;
      min-inline-size: 250px;
    }

    &:last-child {
      min-width: 560px;
    }
  }
}

.form-input {
  width: 100%;
  color: $bg-color;
  background-color: $bg-color-footer;
  padding-left: 80px;
  padding-bottom: 5px;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;

  &:hover,
  &:focus {
    border-bottom: 1px solid $bg-color;
  }
  background-color: $bg-color-footer;

  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
}

.form-textarea {
  resize: none;
  color: $bg-color;
  padding-top: 20px;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;

  &:hover,
  &:focus {
    border-bottom: 1px solid $bg-color;
  }

  background-color: $bg-color-footer;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  width: 100%;
  height: 76px;
}

.form-label {
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  position: absolute;
  left: 0;
  bottom: 60px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  &:focus-within > .form-label {
    transform: translateY(-15px);
  }

  height: 24px;

  color: rgba(157, 164, 189, 0.4);

  font-family: $font-family-open-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.37;

  letter-spacing: 0.1em;
}

.sms {
  bottom: 30px;
}

.sms-label {
  &:focus-within > .comment {
    transform: translateY(-15px);
  }
}

.form-button {
  justify-content: center;
  margin-top: 44px;
  color: $bg-color;
}
